$first-color: #0ec8ed;
$second-color: #f0ce0e;
$third-color: #eb8d12;
$fourth-color: #bf1bb7;
$first-lg: 12.50%;
$second-lg: 25%;
$third-lg: 37.50%;
$fourth-lg: 50%;
$fifth-lg: 62.50%;
$sixth-lg: 75%;
$seventh-lg: 87.50%;
$eighth-lg: 100%;
* {
    margin: 0;
    padding: 0;
    overflow: hidden
}
#home {
    background-image: linear-gradient(45deg, $first-color $first-lg, $second-color $first-lg, $first-color $second-lg, $third-color $second-lg, $third-color $third-lg, $fourth-color $third-lg, $fourth-color $fourth-lg, $first-color $fourth-lg, $first-color $fifth-lg, $second-color $fifth-lg, $second-color $sixth-lg, $third-color $sixth-lg, $third-color $seventh-lg, $fourth-color $seventh-lg, $fourth-color $eighth-lg);
    background-size: 226.27px 226.27px;
    height: 100vh;
    h1,h2 {
        text-align: center;
        font-size: 10em;
        color: white;
    }
    h2 {
        font-size: 5em
    }
    header {
        color: black;
        font-size: 2em;
        padding: 1em 1em;
    }
}
div {
    background: $second-color;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    font-size: 5em;
    text-align: center;
    transform: translate(75vw, 7vh)
}
footer nav {
padding-top: 5em;
padding-right: 1em;

ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    li {
        padding: 1em 0.5em;
        list-style: none;
    }
    a {
        text-decoration: none;
        color: black;
        font-size: 2em;
    }

}
}
